.main-page-container {
  position: relative;
}
.logo {
  position: absolute;
  top: 46px;
  left: 700px;
}

.button-group {
  padding: 37px 0 24px 0;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button-login {
  margin-right: 15px;
  width: 114px;
  height: 46px;
  background-color: #1554cf;
  border-radius: 510px;
}
.button-signup {
  margin: 0 53px 0 0;
  width: 131px;
  background-color: #1b80dc;
  border-radius: 510px;
}
.logo {
}
.slider-container {
  position: relative;
}
.slider-description {
  position: absolute;
}
.slider-description {
  background: linear-gradient(
    111.78deg,
    #1554ce 16.88%,
    #3a82d7 61.51%,
    #4c75df 92.43%
  );
  height: 500px;
  width: 700px;
  border-radius: 0px 0px 300px 0px;
}
.img-slider {
  width: 100%;
  height: 500px;
  display: block;
}
.group-container {
  position: relative;
  padding-left: 200px;
  margin-top: 23px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #cccccc;
}
.group1 {
  width: 423px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.vertical-line {
  border-right: 1px solid #cccccc;
  height: 37px;
  margin-top: 10px;
}
.group2 {
  width: 500px;
  margin-right: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.description p {
  line-height: 26.06px;
  margin-bottom: 0;
}
.title {
  color: #1554cf;
  font-size: 25px;
  font-weight: 700;
}
.button-direct {
  width: 154px;
  height: 81px;
  border-radius: 5px 5px 5px 30px;
  background-color: #1554cf;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  right: 112px;
  bottom: 36px;
}
.des-1 {
  color: #ffffff;
}
.des-2 {
  color: #ffffff;
}
.des-3 {
  color: #ffffff;
}
.button-des {
  width: 133px;
  height: 44px;
  background: #ffffff;
  color: #1554ce;
  font-weight: 700;
  border-radius: 50px;
}
.dot-footer {
  display: flex;
  width: 72px;
}
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
}

.blue-dot {
  background-color: #aaff9c;
}

.white-dot {
  background-color: #ffffff;
}
.about-section {
  display: flex;
}
.underline-title {
  border-bottom: solid 5px #1554cf;
}
.QA-container {
  margin-top: 28px;
  width: 50%;
}
.QA-title {
  border-bottom: 1px solid #cccccc;
}
.account-phone {
  margin-right: 65px;
  margin-top: 28px;
  width: 50%;
  display: flex;
}
.account {
  padding: 12px 24px 12px 24px;
  border-radius: 10px 10px 10px 50px;
}
.phone {
  margin-left: 30px;
  padding: 12px 24px 12px 24px;
  width: auto;
  border-radius: 10px 10px 10px 50px;
}
